{% extends 'base.html' %}

{% block add_head %}
    <title>Tahsilat Sistemi</title>
    <script src="{{ url_for('static', filename='js/plugins/visualization/c3/c3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo_pages/datatables_basic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo_pages/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/visualization/echarts/echarts.min.js') }}"></script>
{% endblock %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">Tahsilat</span> - Özet</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Tahsilat</a>
                    <span class="breadcrumb-item active">Özet</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    {% if current_user.role == "Employee" %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Tahsilat Oranı</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container text-center">
                            <div class="d-inline-block" id="c3-pie-chart"></div>
                        </div>
                        <p>
                            <strong>Hedeflenen Tahsilat Tutarı:</strong> {{ user.toplam_siparis_tutari}} TL <br>
                            <strong>Yapılan Tahsilat Miktarı: </strong> {{ user.toplam_siparis_tahsilati }} TL
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Günlük Tahsilat Rakamları</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="chart-container">
                    <div class="chart has-fixed-height" id="columns_basic"></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">{{ current_user.name }} Kullanıcısına Ait Müşteriler</h5>

                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <p>Küsüratlar yuvarlanmıştır.</p>
            </div>

            <table class="table datatable-basic">
                <thead>
                <tr>
                    <th>İsim</th>
                    <th>Başlangıç Bakiyesi</th>
                    <th>Tahsilat</th>
                    <th>Güncel Bakiye</th>
                    <th>Paraşüt No</th>
                    <th class="text-center">Eylemler</th>
                </tr>
                </thead>
                <tbody>
                {% for musteri in current_user.musteriler %}
                    {% if musteri.bakiye != 0.0 %}
                        <tr>
                            <td>{{ musteri.isim }}</td>
                            <td>{{ musteri.bakiye | int }}</td>
                            <td>{{ musteri.tahsilat | int }}</td>
                            <td>{{ musteri.bakiye - musteri.tahsilat | int }}</td>
                            <td>{{ musteri.parasut_no }}</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <input value="{{ musteri.parasut_odeme_linki }}"
                                                   id="copinput{{ musteri.id }}"
                                                   style="position: absolute; left: -1000em;">
                                            <a href="{{ url_for('musteri.add_tahsilat', musteri_id=musteri.id) }}"
                                               class="dropdown-item"><i class="icon-diff-added"></i> Tahsilat
                                                Ekle</a>
                                            <a data-clipboard-target="#copinput{{ musteri.id }}"
                                               class="dropdown-item copy-button"><i
                                                    class="icon-copy"></i> Online Ödeme
                                                Bağlantısı</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block add_script %}
    <script>
        /* ------------------------------------------------------------------------------
 *
 *  # C3.js - bars and pies
 *
 *  Demo JS code for c3_bars_pies.html page
 *
 * ---------------------------------------------------------------------------- */


        // Setup module
        // ------------------------------

        var С3BarsPies = function () {


            //
            // Setup module components
            //

            // Chart
            var _barsPiesExamples = function () {
                if (typeof c3 == 'undefined') {
                    console.warn('Warning - c3.min.js is not loaded.');
                    return;
                }

                // Define charts elements
                var pie_chart_element = document.getElementById('c3-pie-chart');


                // Pie chart
                if (pie_chart_element) {

                    // Generate chart
                    var pie_chart = c3.generate({
                        bindto: pie_chart_element,
                        size: {width: 350},
                        color: {
                            pattern: ['#3F51B5', '#FF9800', '#4CAF50', '#00BCD4', '#F44336']
                        },
                        data: {
                            columns: [
                                ['Tahsil Edilen Tutar', {{ current_user.kirkbes_tahsilat }}],
                                ['Tahsil Edilecek Tutar', {{ current_user.kirkbes_bakiye - current_user.kirkbes_tahsilat }}],
                            ],
                            type: 'pie'
                        }
                    });
                }
            };


            //
            // Return objects assigned to module
            //

            return {
                init: function () {
                    _barsPiesExamples();
                }
            }
        }();


        // Initialize module
        // ------------------------------

        document.addEventListener('DOMContentLoaded', function () {
            С3BarsPies.init();
        });

        new ClipboardJS('.copy-button');
        let columns_basic_element = document.getElementById('columns_basic');
        if (columns_basic_element) {

            // Initialize chart
            var columns_basic = echarts.init(columns_basic_element);


            //
            // Chart config
            //

            // Options
            columns_basic.setOption({

                // Define colors
                color: ['#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#d87a80'],

                // Global text styles
                textStyle: {
                    fontFamily: 'Roboto, Arial, Verdana, sans-serif',
                    fontSize: 13
                },

                // Chart animation duration
                animationDuration: 750,

                // Setup grid
                grid: {
                    left: 0,
                    right: 40,
                    top: 35,
                    bottom: 0,
                    containLabel: true
                },

                // Add legend
                legend: {
                    data: ['Tahsilat'],
                    itemHeight: 8,
                    itemGap: 20,
                    textStyle: {
                        padding: [0, 5]
                    }
                },

                // Add tooltip
                tooltip: {
                    trigger: 'axis',
                    backgroundColor: 'rgba(0,0,0,0.75)',
                    padding: [10, 15],
                    textStyle: {
                        fontSize: 13,
                        fontFamily: 'Roboto, sans-serif'
                    }
                },

                // Horizontal axis
                xAxis: [{
                    type: 'category',
                    data: {{ tarihler | safe }},
                    axisLabel: {
                        color: '#333'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#999'
                        }
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#eee',
                            type: 'dashed'
                        }
                    }
                }],

                // Vertical axis
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        color: '#333'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#999'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: ['#eee']
                        }
                    },
                    splitArea: {
                        show: true,
                        areaStyle: {
                            color: ['rgba(250,250,250,0.1)', 'rgba(0,0,0,0.01)']
                        }
                    }
                }],

                // Add series
                series: [
                    {
                        name: 'Tahsilat',
                        type: 'bar',
                        data: {{ odemeler }},
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    position: 'top',
                                    textStyle: {
                                        fontWeight: 500
                                    }
                                }
                            }
                        },
                        markLine: {
                            data: [{type: 'average', name: 'Average'}]
                        }
                    }
                ]
            });
        }
    </script>
{% endblock %}
