{% extends 'base.html' %}

{% block add_head %}
    <title>Tahsilat Sistemi</title>
    <script src="{{ url_for('static', filename='js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/visualization/c3/c3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo_pages/datatables_basic.js') }}"></script>
{% endblock %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">Tahsilat</span> - Özet</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Tahsilat</a>
                    <span class="breadcrumb-item active">Özet</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title text-warning">Onay Bekleyen Tahsilat Talepleri</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>

        <table class="table datatable-basic">
            <thead>
            <tr>
                <th>Onay İsteyen Temsilci</th>
                <th>Müşteri Adı</th>
                <th>CRM Müşteri Kodu**</th>
                <th>Tahsilat Tutarı</th>
                <th>Dekont</th>
                <th>Açıklama</th>
                <th class="text-center">Eylemler</th>
            </tr>
            </thead>
            <tbody>
            {% for tahsilat in bekleyenler %}
                <tr>
                    <td>{{ tahsilat.user.name }}</td>
                    <td>{{ tahsilat.musteri_adi_crm }}</td>
                    <td>{{ tahsilat.crm_kodu }}</td>
                    <td>{{ tahsilat.tahsilat_tutari }}</td>
                    <td>{{ tahsilat.aciklama }}</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{{ url_for('guncel_modul.crm_tahsilat_onayla', tahsilat_id=tahsilat.id) }}"
                                       class="dropdown-item"><i class="icon-diff-added"></i> Onayla</a>
                                    {#                                    <a onclick="copyText()" class="dropdown-item"><i class="icon-copy"></i> Online Ödeme#}
                                    {#                                        Bağlantısı</a>#}
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title text-info">Onaylanan Tahsilat Talepleri</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>

        <table class="table datatable-basic">
            <thead>
            <tr>
                <th>Temsilci</th>
                <th>Müşteri Adı</th>
                <th>CRM Müşteri Kodu**</th>
                <th>Tahsilat Tutarı</th>
                <th>Dekont</th>
                <th>Notlar</th>
                <th class="text-center">Eylemler</th>
            </tr>
            </thead>
            <tbody>
            {% for tahsilat in onaylananlar %}
                <tr>
                    <td>{{ tahsilat.user.name }}</td>
                    <td>{{ tahsilat.musteri_adi_crm }}</td>
                    <td>{{ tahsilat.crm_kodu }}</td>
                    <td>{{ tahsilat.tahsilat_tutari }}</td>
                    <td>{{ tahsilat.dekont }}</td>
                    <td>{{ tahsilat.aciklama }}</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{{ url_for('guncel_modul.crm_tahsilat_onay_kaldir', tahsilat_id=tahsilat.id) }}"
                                       class="dropdown-item"><i class="icon-diff-added"></i> Onayı Kaldır</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}