{% extends 'base.html' %}

{% block add_head %}
    <title>Müşteriler</title>
    <script src="{{ url_for('static', filename='js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo_pages/datatables_basic.js') }}"></script>
{% endblock %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">Tahsilat</span> - Müşteriler</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>

        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Tahsilat</a>
                    <span class="breadcrumb-item active">Müşteriler</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Müşteriler</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>

        <table class="table datatable-basic">
            <thead>
            <tr>
                <th>İsim</th>
                <th>Bakiye</th>
                <th>Tahsilat</th>
                <th>Kalan Bakiye</th>
                <th>Sipariş Ödendi Mi?</th>

                <th class="text-center">Eylemler</th>
            </tr>
            </thead>
            <tbody>
            {% for musteri in musteriler %}
                <tr>
                    <td>{{ musteri.isim }}</td>
                    <td>{{ musteri.bakiye | int }}</td>
                    <td>{{ musteri.tahsilat }}</td>
                    <td>{{ musteri.bakiye - musteri.tahsilat | int }}</td>
                    {% if musteri.bakiye - musteri.tahsilat|float == 0.0 %}
                    <td><i class="icon-checkmark"></i></td>
                    {% endif %}
                    {% if musteri.bakiye - musteri.tahsilat|float != 0.0 %}
                    <td> HAYIR</td>
                    {% endif %}
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <input value="{{ musteri.parasut_odeme_linki }}"
                                           id="copinput{{ musteri.id }}" style="position: absolute; left: -1000em;">
                                    <a href="{{ url_for('musteri.add_tahsilat', musteri_id=musteri.id) }}"
                                       class="dropdown-item"><i class="icon-diff-added"></i> Tahsilat
                                        Ekle</a>
                                    <a data-clipboard-target="#copinput{{ musteri.id }}" class="dropdown-item copy-button"><i
                                            class="icon-copy"></i> Online Ödeme
                                        Bağlantısı</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block add_script %}
    <script>
        new ClipboardJS('.copy-button');
    </script>
{% endblock %}

